<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>shareIT</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
   <filter>
    <filter-name>UrlRewriteFilter</filter-name>
    <filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
</filter>
<filter-mapping>
    <filter-name>UrlRewriteFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
</filter-mapping>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <error-page>
    <error-code>404</error-code>
    <location>/index</location>
  </error-page>
  
   <servlet>
    <servlet-name>AdminCatActiveController</servlet-name>
    <servlet-class>controller.AdminCatActiveController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminCatActiveController</servlet-name>
    <url-pattern>/admin/cat/active</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PublicVideoDetailController</servlet-name>
    <servlet-class>controller.PublicVideoDetailController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicVideoDetailController</servlet-name>
    <url-pattern>/video/detail</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminContactDelController</servlet-name>
    <servlet-class>controller.AdminContactDelController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminContactDelController</servlet-name>
    <url-pattern>/admin/contact/del</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminContactIndexController</servlet-name>
    <servlet-class>controller.AdminContactIndexController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminContactIndexController</servlet-name>
    <url-pattern>/admin/contact</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>PublicVideoController</servlet-name>
    <servlet-class>controller.PublicVideoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicVideoController</servlet-name>
    <url-pattern>/video</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>PublicSearchController</servlet-name>
    <servlet-class>controller.PublicSearchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicSearchController</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PublicContactAlertController</servlet-name>
    <servlet-class>controller.PublicContactAlertController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicContactAlertController</servlet-name>
    <url-pattern>/contact/alert</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PublicContactController</servlet-name>
    <servlet-class>controller.PublicContactController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicContactController</servlet-name>
    <url-pattern>/contact</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PublicCatController</servlet-name>
    <servlet-class>controller.PublicCatController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicCatController</servlet-name>
    <url-pattern>/cat</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>PublicCommentController</servlet-name>
    <servlet-class>controller.PublicCommentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicCommentController</servlet-name>
    <url-pattern>/comment</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PublicCommentReplyController</servlet-name>
    <servlet-class>controller.PublicCommentReplyController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicCommentReplyController</servlet-name>
    <url-pattern>/comment/reply</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>PublicCommentReplyShowController</servlet-name>
    <servlet-class>controller.PublicCommentReplyShowController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicCommentReplyShowController</servlet-name>
    <url-pattern>/comment/reply/show</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>PublicCommentVideoController</servlet-name>
    <servlet-class>controller.PublicCommentVideoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicCommentVideoController</servlet-name>
    <url-pattern>/commentVideo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PublicCommentVideoReplyController</servlet-name>
    <servlet-class>controller.PublicCommentVideoReplyController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicCommentVideoReplyController</servlet-name>
    <url-pattern>/commentVideo/reply</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>PublicCommentVideoReplyShowController</servlet-name>
    <servlet-class>controller.PublicCommentVideoReplyShowController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicCommentVideoReplyShowController</servlet-name>
    <url-pattern>/commentVideo/reply/show</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>PublicDetailController</servlet-name>
    <servlet-class>controller.PublicDetailController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicDetailController</servlet-name>
    <url-pattern>/detail</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>PublicVideoShowController</servlet-name>
    <servlet-class>controller.PublicVideoShowController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicVideoShowController</servlet-name>
    <url-pattern>/video/show</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminCommentSearchController</servlet-name>
    <servlet-class>controller.AdminCommentSearchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminCommentSearchController</servlet-name>
    <url-pattern>/admin/comment/search</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminCommentVideoSearchController</servlet-name>
    <servlet-class>controller.AdminCommentVideoSearchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminCommentVideoSearchController</servlet-name>
    <url-pattern>/admin/commentVideo/search</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminVideoSearchController</servlet-name>
    <servlet-class>controller.AdminVideoSearchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminVideoSearchController</servlet-name>
    <url-pattern>/admin/video/search</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminAdsSearchController</servlet-name>
    <servlet-class>controller.AdminAdsSearchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAdsSearchController</servlet-name>
    <url-pattern>/admin/ads/search</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminUsersSearchController</servlet-name>
    <servlet-class>controller.AdminUsersSearchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminUsersSearchController</servlet-name>
    <url-pattern>/admin/users/search</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>AdminCatISearchController</servlet-name>
    <servlet-class>controller.AdminCatISearchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminCatISearchController</servlet-name>
    <url-pattern>/admin/cat/search</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminNewsSearchController</servlet-name>
    <servlet-class>controller.AdminNewsSearchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminNewsSearchController</servlet-name>
    <url-pattern>/admin/news/search</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminNewsByCatIdIndexController</servlet-name>
    <servlet-class>controller.AdminNewsByCatIdIndexController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminNewsByCatIdIndexController</servlet-name>
    <url-pattern>/admin/newsByCatId</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminVideoDelController</servlet-name>
    <servlet-class>controller.AdminVideoDelController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminVideoDelController</servlet-name>
    <url-pattern>/admin/video/del</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminVideoIndexController</servlet-name>
    <servlet-class>controller.AdminVideoIndexController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminVideoIndexController</servlet-name>
    <url-pattern>/admin/video</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>AdminVideoShowController</servlet-name>
    <servlet-class>controller.AdminVideoShowController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminVideoShowController</servlet-name>
    <url-pattern>/admin/video/show</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>AdminVideoAddController</servlet-name>
    <servlet-class>controller.AdminVideoAddController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminVideoAddController</servlet-name>
    <url-pattern>/admin/video/add</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>AdminVideoEditController</servlet-name>
    <servlet-class>controller.AdminVideoEditController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminVideoEditController</servlet-name>
    <url-pattern>/admin/video/edit</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>AdminVideoSelectCatEditController</servlet-name>
    <servlet-class>controller.AdminVideoSelectCatEditController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminVideoSelectCatEditController</servlet-name>
    <url-pattern>/admin/video/selectCatEdit</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>AdminVideoActiveController</servlet-name>
    <servlet-class>controller.AdminVideoActiveController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminVideoActiveController</servlet-name>
    <url-pattern>/admin/video/active</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>AdminUsersProfileController</servlet-name>
    <servlet-class>controller.AdminUsersProfileController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminUsersProfileController</servlet-name>
    <url-pattern>/admin/users/profile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminUsersMessController</servlet-name>
    <servlet-class>controller.AdminUsersMessController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminUsersMessController</servlet-name>
    <url-pattern>/admin/users/mess</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminIndexController</servlet-name>
    <servlet-class>controller.AdminIndexController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIndexController</servlet-name>
    <url-pattern>/admin/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminCatIndexController</servlet-name>
    <servlet-class>controller.AdminCatIndexController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminCatIndexController</servlet-name>
    <url-pattern>/admin/cat</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminNewsIndexController</servlet-name>
    <servlet-class>controller.AdminNewsIndexController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminNewsIndexController</servlet-name>
    <url-pattern>/admin/news</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>AdminNewsAddController</servlet-name>
    <servlet-class>controller.AdminNewsAddController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminNewsAddController</servlet-name>
    <url-pattern>/admin/news/add</url-pattern>
  </servlet-mapping>
     <servlet>
    <servlet-name>AdminNewsEditController</servlet-name>
    <servlet-class>controller.AdminNewsEditController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminNewsEditController</servlet-name>
    <url-pattern>/admin/news/edit</url-pattern>
  </servlet-mapping>
     <servlet>
    <servlet-name>AdminNewsDelController</servlet-name>
    <servlet-class>controller.AdminNewsDelController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminNewsDelController</servlet-name>
    <url-pattern>/admin/news/del</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>AdminNewsSelectCatController</servlet-name>
    <servlet-class>controller.AdminNewsSelectCatController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminNewsSelectCatController</servlet-name>
    <url-pattern>/admin/news/selectCat</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminNewsSelectCatEditController</servlet-name>
    <servlet-class>controller.AdminNewsSelectCatEditController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminNewsSelectCatEditController</servlet-name>
    <url-pattern>/admin/news/selectCatEdit</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>AdminNewsActiveController</servlet-name>
    <servlet-class>controller.AdminNewsActiveController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminNewsActiveController</servlet-name>
    <url-pattern>/admin/news/active</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminUsersIndexController</servlet-name>
    <servlet-class>controller.AdminUsersIndexController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminUsersIndexController</servlet-name>
    <url-pattern>/admin/users</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminAdsIndexController</servlet-name>
    <servlet-class>controller.AdminAdsIndexController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAdsIndexController</servlet-name>
    <url-pattern>/admin/ads</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminCommentIndexController</servlet-name>
    <servlet-class>controller.AdminCommentIndexController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminCommentIndexController</servlet-name>
    <url-pattern>/admin/comment</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>AdminCommentActiveController</servlet-name>
    <servlet-class>controller.AdminCommentActiveController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminCommentActiveController</servlet-name>
    <url-pattern>/admin/comment/active</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>AdminCommentDelController</servlet-name>
    <servlet-class>controller.AdminCommentDelController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminCommentDelController</servlet-name>
    <url-pattern>/admin/comment/del</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>AdminCommentVideoIndexController</servlet-name>
    <servlet-class>controller.AdminCommentVideoIndexController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminCommentVideoIndexController</servlet-name>
    <url-pattern>/admin/commentVideo</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>AdminCommentVideoActiveController</servlet-name>
    <servlet-class>controller.AdminCommentVideoActiveController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminCommentVideoActiveController</servlet-name>
    <url-pattern>/admin/commentVideo/active</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>AdminCommentVideoDelController</servlet-name>
    <servlet-class>controller.AdminCommentVideoDelController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminCommentVideoDelController</servlet-name>
    <url-pattern>/admin/commentVideo/del</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminCatAddController</servlet-name>
    <servlet-class>controller.AdminCatAddController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminCatAddController</servlet-name>
    <url-pattern>/admin/cat/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminCatDelController</servlet-name>
    <servlet-class>controller.AdminCatDelController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminCatDelController</servlet-name>
    <url-pattern>/admin/cat/del</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminCatEditController</servlet-name>
    <servlet-class>controller.AdminCatEditController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminCatEditController</servlet-name>
    <url-pattern>/admin/cat/edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminUserEditController</servlet-name>
    <servlet-class>controller.AdminUserEditController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminUserEditController</servlet-name>
    <url-pattern>/admin/user/edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminUsersAddController</servlet-name>
    <servlet-class>controller.AdminUsersAddController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminUsersAddController</servlet-name>
    <url-pattern>/admin/users/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminUsersDelController</servlet-name>
    <servlet-class>controller.AdminUsersDelController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminUsersDelController</servlet-name>
    <url-pattern>/admin/users/del</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminUsersActiveController</servlet-name>
    <servlet-class>controller.AdminUsersActiveController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminUsersActiveController</servlet-name>
    <url-pattern>/admin/users/active</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AuthLoginController</servlet-name>
    <servlet-class>controller.AuthLoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthLoginController</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>AuthLogoutController</servlet-name>
    <servlet-class>controller.AuthLogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthLogoutController</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PublicIndexController</servlet-name>
    <servlet-class>controller.PublicIndexController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicIndexController</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminAdsActiveController</servlet-name>
    <servlet-class>controller.AdminAdsActiveController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAdsActiveController</servlet-name>
    <url-pattern>/admin/ads/active</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>AdminAdsAddController</servlet-name>
    <servlet-class>controller.AdminAdsAddController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAdsAddController</servlet-name>
    <url-pattern>/admin/ads/add</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>AdminAdsEditController</servlet-name>
    <servlet-class>controller.AdminAdsEditController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAdsEditController</servlet-name>
    <url-pattern>/admin/ads/edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminAdsDelController</servlet-name>
    <servlet-class>controller.AdminAdsDelController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAdsDelController</servlet-name>
    <url-pattern>/admin/ads/del</url-pattern>
  </servlet-mapping>
  
</web-app>